body {
    background-color: #ffffff;
    background-image: none !important;
}
.pagination-container {
    min-height: 50vh;
    overflow: auto;
}
.orange-red {
    color: #FF4500;
}

.orange {
    color: #FFA500;
}
.green {
    color: #00CC00;
}